# Machine Learning for Games

It has been widely publicized that machine learning has achieved great success in game playing during recent years, including ancient games like [GO](https://en.wikipedia.org/wiki/Go_(game) to modern computer games like [Starcraft](https://starcraft2.com/en-us/). For news, see:

[The awful frustration of a teenage Go champion playing Google’s AlphaGo](https://qz.com/993147/the-awful-frustration-of-a-teenage-go-champion-playing-googles-alphago/)

[AI defeated humans at StarCraft II. Here’s why it matters.](https://www.wired.com/story/deepmind-beats-pros-starcraft-another-triumph-bots/)


We don't have enough background for understanding these complicated algorithms yet. In this assignment, we are going to see how decision trees can help understand some simple games including TIC-TAC-TOE and chess(King-Rook vs. King).

Make sure you have installed [Pandas](https://pandas.pydata.org/), [numpy](http://www.numpy.org/), [graphviz](https://www.graphviz.org/) and [Scikit Learn](https://scikit-learn.org/) before running the script.

```bash
    conda install pandas numpy graphviz scikit-learn
```
or

```bash
    pip3 install pandas numpy graphviz scikit-learn
```

You may find the following links useful:

http://scikit-learn.org/stable/modules/tree.html and
http://scikitlearn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

## 1. Tic-Tac-Toe Endgame Classification
For introduction and rules of Tic-Tac-Toe, see [Wiki page](https://en.wikipedia.org/wiki/Tic-tac-toe). 

<img src="tic_tac.jpg" width="400">

We will use Tic-Tac-Toe Endgame Data Set from UCI machine learning repository. (See introduction [here](https://archive.ics.uci.edu/ml/datasets/Tic-Tac-Toe+Endgame)). This database encodes the complete set of possible board configurations at the end of tic-tac-toe games, where "x" is assumed to have played first. The target concept is "win for x" (i.e., true when "x" has one of 8 possible ways to create a "three-in-a-row"). 

The dataset has 9 attributes, each indicating the status of each squre. ('x' if "x" is placed, 'o' if "o" is placed and 'b' if blank). Examples of the dataset can be seen here:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.utils import shuffle
tic_toc = pd.read_csv('./tic-tac-toe.data', header=None) #read dataset
tic_toc.columns = ['top_left_sqr', 'top_middle_sqr', 'top_right_sqr',
             'mid_left_sqr', 'mid_mid_sqr', 'mid_right_sqr', 
             'btm_left_sqr', 'btm_mid_sqr', 'btm_right_sqr',
             'class'] # rename each column
tic_toc = shuffle(tic_toc, random_state = 0) # shuffle the dataset
tic_toc.head(10) #print the top ten entries

,top_left_sqr,top_middle_sqr,top_right_sqr,mid_left_sqr,mid_mid_sqr,mid_right_sqr,btm_left_sqr,btm_mid_sqr,btm_right_sqr,class
879,b,x,x,x,x,o,o,o,o,negative
496,b,x,o,x,x,x,o,o,b,positive
14,x,x,x,o,x,o,o,o,x,positive
546,b,o,x,o,b,x,x,o,x,positive
55,x,x,x,b,o,x,b,o,o,positive
785,o,x,o,b,o,x,o,x,x,negative
202,x,o,b,x,b,o,x,x,o,positive
566,b,o,o,x,x,x,b,x,o,positive
940,b,b,o,b,x,o,x,x,o,negative
299,o,x,x,o,x,o,x,x,o,positive

### Post-processing
To get these features and labels fit into learning models, we need to convert them into integer or boolean variables. For features with $k$ possible values, a common trick is one-hot encoding (dummy variables). Suppose feature $X$ can take $k$ possible values, we encode it into a $k$-dimensional boolean vector where there is a one at location $i$ if $X = 1$ and zeros elsewhere. Suppose $X$ can take $5$ possible values and $X = 3$. Then

$$ Enc(X) = (0, 0, 1, 0, 0) $$

We do this for each feature with $k = 3$ and convert labels to $\{0, 1\}$. Note that for one hot encoding, we can always drop the first dimension since if all others are zeros, we know it has to be one.

Next we randomly pick $70\%$ of the data to  be our training set and the remaining for testing.

After this, each training example has $18$ features. Training set looks like the following:

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

tic_toc.loc[tic_toc['class'] == 'positive', 'class'] = 1 #change labels from words to integers
tic_toc.loc[tic_toc['class'] == 'negative', 'class'] = 0
X = pd.get_dummies(tic_toc.iloc[:, :-1], drop_first=True) # one-hot encoding
y = tic_toc['class'].astype('int')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 0) # split the dataset into training and testing sets
X.head()

,top_left_sqr_o,top_left_sqr_x,top_middle_sqr_o,top_middle_sqr_x,top_right_sqr_o,top_right_sqr_x,mid_left_sqr_o,mid_left_sqr_x,mid_mid_sqr_o,mid_mid_sqr_x,mid_right_sqr_o,mid_right_sqr_x,btm_left_sqr_o,btm_left_sqr_x,btm_mid_sqr_o,btm_mid_sqr_x,btm_right_sqr_o,btm_right_sqr_x
879,0,0,0,1,0,1,0,1,0,1,1,0,1,0,1,0,1,0
496,0,0,0,1,1,0,0,1,0,1,0,1,1,0,1,0,0,0
14,0,1,0,1,0,1,1,0,0,1,1,0,1,0,1,0,0,1
546,0,0,1,0,0,1,1,0,0,0,0,1,0,1,1,0,0,1
55,0,1,0,1,0,1,0,0,1,0,0,1,0,0,1,0,1,0

### Problem 1
Using information gain as you splitting criterion, set the maximum depth from 1 to 12. Plot the training and testing error with respect to each maximum depth. Justify your plot.

In [ ]:
Err_Train = np.zeros(12)
Err_Test = np.zeros(12)
indices = range(1,13)

#==================Your code ===================





#==============================================
plt.plot(indices,Err_Train, label = "training")
plt.plot(indices,Err_Test, label = "testing")
plt.legend()

### Problem 2
Using GINI impurity as you splitting criterion, set the maximum depth from 1 to 11. Plot the training and testing error with respect to each maximum depth. Is it the same with information gain?

In [ ]:
Err_Train = np.zeros(12)
Err_Test = np.zeros(12)
indices = range(1,13)
#==================Your code ===================





#==============================================

plt.plot(indices,Err_Train, label = "training")
plt.plot(indices,Err_Test, label = "testing")
plt.legend()

### Problem 3
Pick any tree you have learned above. Let "model_dtc" be the model you have created using scikit-learn. The following script will print the tree into file 'TIC-TOC-TOE.pdf'. What is the root node? Explain whether it coincides with your intuition.

In [ ]:
from sklearn import tree
import graphviz 
dot_data = tree.export_graphviz(model_dtc, out_file=None, 
                    feature_names = X.columns,
                    class_names= 'win',  
                    filled=True, rounded=True,  
                    special_characters=True)  
graph = graphviz.Source(dot_data) 
graph.render("TIC-TOC-TOE")

## 2. Chess(King-Rook vs. King) Endgame Classification
For introduction and rules of Chess, see [Wiki page](https://en.wikipedia.org/wiki/Chess). 
<img src="chess.png" width="400">

We will use Chess(King-Rook vs. King) Data Set from UCI machine learning repository. (See introduction [here](https://archive.ics.uci.edu/ml/datasets/Chess+(King-Rook+vs.+King)). This database has 28056 possible instances of chess endgame situations where the white has a king and a rook and the black has only a king. The goal is to determine what is the minimum depth for the white to win.

The dataset has 6 attributes. Each of them can take 8 values, listed as following:

1. White King file (column a - h) 
2. White King rank (row 1 - 8) 
3. White Rook file 
4. White Rook rank 
5. Black King file 
6. Black King rank 

And the label is the least number of steps that the white must use to win. (draw if more than 16). The following is how the data set looks like.

In [3]:
chess = pd.read_csv('./krkopt_data.txt', header=None) # read data 
chess.columns = ['wkf', 'wkr', 'wrf', 'wrr', 'bkf', 'bkr', 'class'] # rename columns
chess = shuffle(chess, random_state = 0) # shuffle the data 
chess.head(10) # print top 10 labels

      wkf  wkr wrf  wrr bkf  bkr     class
22363   b    2   d    1   g    7  fourteen
18474   c    2   a    6   e    6  thirteen
24609   d    1   d    2   f    4  fourteen
3668    d    2   h    1   a    2      five
6969    c    1   f    5   g    1      nine
4007    d    1   b    4   h    1       six
16585   d    3   h    1   c    6    twelve
5441    c    2   b    4   g    1     eight
6712    b    1   e    3   g    1      nine
27543   d    1   f    4   e    6   fifteen

Next we convert these values into boolean features using the same one-hot encoding trick we described for TIC-TAC-TOE game. Deleting symmetric features (the dataset only has white kings in the bottom-left corner) for the white king and drop the first for the others, we get a data set with $36$ boolean features. 

Next we randomly pick $70\%$ of the data to  be our training set and the remaining for testing. Training set looks like the following:

In [4]:
from sklearn.preprocessing import LabelEncoder

d_wkf = pd.get_dummies(chess['wkf'], prefix='wkf')   # one hot encoding
d_wkr = pd.get_dummies(chess['wkr'], prefix='wkr')
d_wrf = pd.get_dummies(chess['wrf'], prefix='wrf', drop_first=True)
d_wrr = pd.get_dummies(chess['wrr'], prefix='wrr', drop_first=True)
d_bkf = pd.get_dummies(chess['bkf'], prefix='bkf', drop_first=True)
d_bkr = pd.get_dummies(chess['bkr'], prefix='bkr', drop_first=True)
chess_new = pd.concat([d_wkf, d_wkr, d_wrf, d_wrr, d_bkf, d_bkr, chess['class']], axis=1) # get new dataset with new features
X = chess_new.iloc[:, :-1] 
y = chess_new['class']
le = LabelEncoder()  # change labels into integers 
y = le.fit_transform(y) 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) # split the dataset into training and testing sets
X_train.head(10) # print top 10 entries

,wkf_a,wkf_b,wkf_c,wkf_d,wkr_1,wkr_2,wkr_3,wkr_4,wrf_b,wrf_c,...,bkf_f,bkf_g,bkf_h,bkr_2,bkr_3,bkr_4,bkr_5,bkr_6,bkr_7,bkr_8
3409,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18073,0,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3544,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8869,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
11300,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10037,0,0,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
18156,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17803,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
13751,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
3240,0,0,0,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

### Problem 4 
Using information gain as you splitting criterion, set the maximum depth from 20 to 35. Plot the training and testing error with respect to each maximum depth. When is the maximum training accuracy achieved? When is the maximum testing accuracy achieved? Explain this phenomenon.

In [ ]:
start = 20
end = 36
indices = range(start,end)
Err_Train = np.zeros(end - start)
Err_Test = np.zeros(end - start)
#==================Your code ===================







#==============================================
    
plt.plot(indices,Err_Train, label = "training")
plt.plot(indices,Err_Test, label = "testing")
plt.legend()

### Problem 5
Let's take a step further towards real AI applications. For the same game set-up, suppose you have a perfect decision tree which can tell you the minimum number of moves the white need to win. Given any instance, can you tell us which move is the optimal move for the white?